.offer-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 420px;
  background-color: #f5f7fa;
  border-radius: 4px;
  padding: 20px;

  .offer-form__label {
    margin-bottom: 8px;
  }

  .offer-form__input {
    margin-bottom: 16px;
    border: 1px solid #c7d1da;
    border-radius: 4px;
    padding: 10px 15px;
  }
  .offer-form__checkbox-item {
    display: flex;
    margin-bottom: 16px;
    justify-content: space-between;

    .offer-form__checkbox {
      height: 16px;
      width: 16px;
    }
  }
  .offer-form__save-button {
    text-decoration: none;
    color: rgb(245, 255, 250);
    background-color: #547dfe;
    display: block;
    width: 100%;
    padding: 16px 0px;
    text-align: center;
    border-radius: 25px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    transition-duration: 200ms;
    outline: none;
    border: none;

    &:hover {
      background-color: #243ca4;
    }
  }
  .offer-form__after-button {
    margin-top: 16px;
    border-top: 1px solid #c7d1da;
  }
}
